<%= form_with(model: @task, local: true) do |f| %>

<ul style="list-style:none">
  <li><%= f.label :status, '件名（0字以上10字以内）' %></li>
  <li><%= f.text_field :status %></li>
  <br>
  <li><%= f.label :content, '内容（0字以上255字以内）' %></li>
  <li><%= f.text_field :content %></li>
</ul>

  <%= f.submit '投稿' %>
<% end %>

<%= link_to '一覧に戻る', tasks_path %>